# Основные зависимости проекта
union
typing-extensions
dotenv
requests
python-dotenv
typing_extensions
# Группа dev (Инструменты разработки и тестирования)
flake8
pytest
pytest-cov

# Группа lint (Проверка качества кода и форматирование)
mypy
black
isort
flake8-pyproject

